  <div header>{{textTitle}}</div>
  <div class="input-form">
    <span><label for="name"> Nombre:</label></span>
    <input type="text" id="name" [(ngModel)]="dto.name">
  </div>
  <div class="input-form">
    <span><label for="description"> Descripcion:</label></span>
    <input type="text" id="description" [(ngModel)]="dto.description">
  </div>
  <div footer>
    <p class="bottom">
      <button class="button button-large" (click)= "close()" >Cancelar</button>
      <button class="button button-primary button-large" (click)= "send()" [disabled]="!isValid()">Enviar</button>
    </p>
  </div>