<table class="wp-list-table widefat fixed">
  <thead>
        <neo-table-header [data]="dto.header"></neo-table-header>
  </thead>
  <tbody>
        <ng-container *ngIf="dto.data?.length else loading" >
            <neo-table-row *ngFor="let item of dto.data" 
                (edit)="editItem($event)"
                (view)="viewItem($event)"
                [data]="item" 
                [status]="action"></neo-table-row>
        </ng-container>
  </tbody>
  <tfoot>
        <neo-table-header [data]="dto.header"></neo-table-header>
  </tfoot>
</table>



<ng-template #loading>
    <ng-container *ngIf="dto.data==null else nodata">
        <tr class="loading"><td></td><td colspan="5">Loading data ....</td></tr>
    </ng-container>
</ng-template>
<ng-template #nodata>
    <tr class="loading"><td></td><td colspan="5">No data ....</td></tr>
</ng-template>






