<div class="tablenav bottom">
  <div class="alignleft actions bulkactions">
    <ng-container *ngIf="isActives() else deleted" >
      <select name="bulk_actions" (change)="onChangeSelection($event)">
        <option value="">Seleccione accion a realizar</option>
        <option value="trash">Mover a la papelera</option>
      </select>
    </ng-container>
    <input type="submit" class="button action">
  </div>
  <div class="tablenav-pages">
    <span class="pagination-links">
      <a href="#" class="next-page button" (click)="onFirt()" *ngIf="page.page>1">
        <span class="screen-reader-text">Primera página</span>
        <span aria-hidden="true">«</span>
      </a>
      <span aria-hidden="true" class="tablenav-pages-navspan button disabled" *ngIf="page.page===1">«</span>&nbsp;
      <a href="#" class="next-page button" (click)="onPrevious()" *ngIf="page.page>1">
        <span class="screen-reader-text">Página previa</span>
        <span aria-hidden="true">‹</span>
      </a>
      <span aria-hidden="true" class="tablenav-pages-navspan button disabled" *ngIf="page.page===1">‹</span>&nbsp;
      <span class="paging-input">
        <label class="screen-reader-text" for="current-page-selector">Página Actual</label>
        <input type="text" aria-describedby="table-paging" size="2" name="paged" id="current-page-selector" class="current-page" (change)="onGoto($event)" [value]="page.page">de&nbsp;
        <span class="total-pages">{{page.pages}}</span>
      </span>&nbsp;
      <a href="#" class="next-page button" (click)="onNext()" *ngIf="page.page<page.pages">
        <span class="screen-reader-text">Siguiente página</span>
        <span aria-hidden="true">›</span>
      </a>
      <span aria-hidden="true" class="tablenav-pages-navspan button disabled" *ngIf="page.page===page.pages">›</span>
      &nbsp;
      <a href="#" class="next-page button" (click)="onLast()" *ngIf="page.page<page.pages">
        <span class="screen-reader-text">Ultima página</span>
        <span aria-hidden="true">»</span>
      </a>
      <span aria-hidden="true" class="tablenav-pages-navspan button disabled" *ngIf="page.page===page.pages">»</span>
    </span>
  </div>
</div>




<ng-template #deleted>
    <select name="bulk_actions">
        <option value="">Seleccione accion a realizar</option>
        <option value="restore">Restablecer</option>
      <option value="delete">Borrar permanentemente</option>
    </select>
</ng-template>