<div>
    <h2>Listas <a class="page-title-action"  (click)="addList()">Añadir lista</a></h2>
</div>
<ul class="subsubsub">
    <li><a href="#" [class.current]="isActives()" (click)="reLoad(1)">Activas&nbsp;<span class="count">({{dto.nav.actived}})</span></a></li>
    <li> |<a href="#" [class.current]="!isActives()" (click)="reLoad(0)">Papelera&nbsp;<span class="count">({{dto.nav.deleted}})</span></a></li>
</ul>

<neo-table-nav [action]="action" (change)="onChange($event)"></neo-table-nav>
<neo-table 
    (edit)="editItem( $event )"
    (view)="viewItem( $event )"
    [data]="dto" [action]="action"></neo-table>
<neo-table-nav [action]="action" (change)="onChange($event)"></neo-table-nav>

<neo-modal>
    <div header *ngIf="modalTitle">{{modalTitle}}</div>
    <neo-add-list *ngIf="modalAdd" (close)="closeModal()"></neo-add-list>
    <neo-edit-list *ngIf="!modalAdd" (close)="closeModal()" [value]="getEditValue()"></neo-edit-list>
</neo-modal>
