<div>
  <h2>Listas <a class="page-title-action"  (click)="addList()">Añadir lista</a></h2>
</div>
<ul class="subsubsub">
  <li><a href="#" [class.current]="isActives()" (click)="reLoad(1)">Activas&nbsp;<span class="count">({{dto.nav.actived}})</span></a></li>
  <li> |<a href="#" [class.current]="!isActives()" (click)="reLoad(0)">Papelera&nbsp;<span class="count">({{dto.nav.deleted}})</span></a></li>
</ul>

 <neo-table-nav (change)="onChange($event)" [page]="page"></neo-table-nav>
<neo-table 
  (edit)="editItem( $event )"
  (view)="viewItem( $event )"
  [data]="dto" [action]="action">
<neo-list-item *ngFor="let item of dto.data" [value]="item" [status]="action" (action)="onActionList($event)"></neo-list-item>
</neo-table>
  
<neo-table-nav [action]="action" (change)="onChange($event)" [page]="page"></neo-table-nav>
