/* You can add global styles to this file, and also import other style files */
neo-root{
    ul{
        display: flex;
        align-items: center;
        li.push{
            flex: 1 1 auto;
        }
    }


    
}