<td class="check-column">
  <input type="checkbox" name="select_all" id="select_all">
</td>
<td class="manage-column column-primary has-row-actions">
  <strong><a class="row-title" href="#">{{data.name}}</a></strong>
  <div>
    <div class="row-actions">
      <span class="edit"><a href="#" (click)="editItem()">Editar</a></span>
      <span class="view_subscribers"> | <a href="#" (click)="viewSubscriptors()">Ver
          suscriptores</a></span><span class="trash"> | <a href="#" (click)="removeItem()">Mover a la papelera</a></span>
    </div>
    <div class="row-actions">
      <span><a href="#">Restablecer</a></span> | <span class="delete"><a class="submitdelete" href="javascript:;">Borrar permanentemente</a></span>
    </div>
  </div>
</td>
<td>{{data.description}}</td>
<td>{{data.status}}</td>
<td>{{data.total - data.status}}</td>
<td>{{data.date | date}}</td>