:host{
    display: table-row;
    .has-row-actions:hover .row-actions{
        left: 0;
    }
    .check-column{
        width: 2.2em;
        padding: 8px;
        vertical-align: top;
        input{
            margin: 0 0 0 8px;
            padding: 0;
            vertical-align: text-top;
        }
    }
}