<ul>
  <li><label for="search">Buscar</label></li>
  <li><input type="text" name="search" id="search" [(ngModel)]="search.search"></li>
  <li><select [(ngModel)]="search.list">
      <option *ngFor="let item of listSelection" [value]="item.id">{{item.name}}</option>
  </select></li>
  <li>Status</li>
  <li class="push"><select [(ngModel)]="search.status">
      <option *ngFor="let item of status;" [value]="item.value">{{item.name}}</option>
  </select></li>
  <li><button class="button-secondary action" (click)="searchClick()">Buscar</button></li>
</ul> 